<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59392940131-17v0baa969papeja1l88128garv3c5s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59392940131-17v0baa969papeja1l88128garv3c5s7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>59392940131-1inra9gt716m61ld14krvjdd5te95cjm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCtnSJPuQ2Tn_9qJd5UWlgY-e74tM54FPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>59392940131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pradipchauhan.shivphysiotherapy</string>
	<key>PROJECT_ID</key>
	<string>shiv-physiotherapy-ir2bhp</string>
	<key>STORAGE_BUCKET</key>
	<string>shiv-physiotherapy-ir2bhp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59392940131:ios:4465632896fe5552714056</string>
</dict>
</plist>